USE [master]
GO
/****** Object:  Database [ToresDB]    Script Date: 29.03.2023 22:04:48 ******/
CREATE DATABASE [ToresDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToresDB', FILENAME = N'C:\Users\Kaptan\ToresDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ToresDB_log', FILENAME = N'C:\Users\Kaptan\ToresDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToresDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToresDB]
GO
/****** Object:  Table [dbo].[datLog]    Script Date: 29.03.2023 22:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[LoginDT] [nvarchar](12) NOT NULL,
	[LogoutDT] [nvarchar](12) NOT NULL,
	[LogNotes] [nvarchar](50) NULL,
 CONSTRAINT [PK_datLog] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datReservation]    Script Date: 29.03.2023 22:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datReservation](
	[ResReqID] [int] IDENTITY(1,1) NOT NULL,
	[ResRoomID] [tinyint] NOT NULL,
	[ResStartDT] [int] NOT NULL,
	[ResEndDT] [int] NOT NULL,
	[ResUserID] [int] NOT NULL,
	[ResDesc] [nvarchar](max) NULL,
	[ResStatus] [nchar](1) NOT NULL,
	[ResMeetingDT] [date] NULL,
 CONSTRAINT [PK_datReservation] PRIMARY KEY CLUSTERED 
(
	[ResReqID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datRoom]    Script Date: 29.03.2023 22:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datRoom](
	[RoomID] [tinyint] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](50) NOT NULL,
	[RoomCapacity] [tinyint] NOT NULL,
	[RoomStatus] [char](1) NOT NULL,
	[RoomNote] [nvarchar](100) NULL,
	[Projection] [bit] NULL,
	[IBoard] [bit] NULL,
	[Internet] [bit] NULL,
	[IpTV] [bit] NULL,
	[VOIP] [bit] NULL,
	[AirConditioning] [bit] NULL,
 CONSTRAINT [PK_datRoom] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datUser]    Script Date: 29.03.2023 22:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datUser](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](20) NULL,
	[UserPass] [nvarchar](20) NULL,
	[FName] [nvarchar](20) NULL,
	[LName] [nvarchar](20) NULL,
	[DeptID] [tinyint] NULL,
	[TypeID] [tinyint] NULL,
	[EMail] [nvarchar](50) NULL,
 CONSTRAINT [PK_datUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jnkRoomSpec]    Script Date: 29.03.2023 22:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jnkRoomSpec](
	[RoomSpecID] [smallint] IDENTITY(1,1) NOT NULL,
	[RoomID] [tinyint] NOT NULL,
	[SpecID] [tinyint] NOT NULL,
 CONSTRAINT [PK_jnkRoomSpec] PRIMARY KEY CLUSTERED 
(
	[RoomSpecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prmDepartment]    Script Date: 29.03.2023 22:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prmDepartment](
	[DeptID] [tinyint] IDENTITY(1,1) NOT NULL,
	[DeptName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_prmDepartment] PRIMARY KEY CLUSTERED 
(
	[DeptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prmSpec]    Script Date: 29.03.2023 22:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prmSpec](
	[SpecID] [tinyint] IDENTITY(1,1) NOT NULL,
	[SpecDesc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_prmSpec] PRIMARY KEY CLUSTERED 
(
	[SpecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[datLog]  WITH CHECK ADD  CONSTRAINT [FK_datLog_datUser] FOREIGN KEY([UserID])
REFERENCES [dbo].[datUser] ([UserID])
GO
ALTER TABLE [dbo].[datLog] CHECK CONSTRAINT [FK_datLog_datUser]
GO
ALTER TABLE [dbo].[datReservation]  WITH CHECK ADD  CONSTRAINT [FK_datReservation_datRoom] FOREIGN KEY([ResRoomID])
REFERENCES [dbo].[datRoom] ([RoomID])
GO
ALTER TABLE [dbo].[datReservation] CHECK CONSTRAINT [FK_datReservation_datRoom]
GO
ALTER TABLE [dbo].[datReservation]  WITH CHECK ADD  CONSTRAINT [FK_datReservation_datUser] FOREIGN KEY([ResUserID])
REFERENCES [dbo].[datUser] ([UserID])
GO
ALTER TABLE [dbo].[datReservation] CHECK CONSTRAINT [FK_datReservation_datUser]
GO
ALTER TABLE [dbo].[datUser]  WITH CHECK ADD  CONSTRAINT [FK_datUser_prmDepartment] FOREIGN KEY([DeptID])
REFERENCES [dbo].[prmDepartment] ([DeptID])
GO
ALTER TABLE [dbo].[datUser] CHECK CONSTRAINT [FK_datUser_prmDepartment]
GO
ALTER TABLE [dbo].[jnkRoomSpec]  WITH CHECK ADD  CONSTRAINT [FK_jnkRoomSpec_datRoom] FOREIGN KEY([RoomID])
REFERENCES [dbo].[datRoom] ([RoomID])
GO
ALTER TABLE [dbo].[jnkRoomSpec] CHECK CONSTRAINT [FK_jnkRoomSpec_datRoom]
GO
ALTER TABLE [dbo].[jnkRoomSpec]  WITH CHECK ADD  CONSTRAINT [FK_jnkRoomSpec_prmSpec] FOREIGN KEY([SpecID])
REFERENCES [dbo].[prmSpec] ([SpecID])
GO
ALTER TABLE [dbo].[jnkRoomSpec] CHECK CONSTRAINT [FK_jnkRoomSpec_prmSpec]
GO
USE [master]
GO
